// 3️⃣ Tema específico
@import "./primereact/theme/lara-dark-blue/_fonts.scss";
@import "./primereact/theme/lara-dark-blue/theme.scss";

// 1️⃣ Variables y extensiones
@import "./primereact/theme/_variables.scss";
@import "./primereact/theme/_extensions.scss";

// 2️⃣ Base de PrimeReact
@import "./primereact/theme-base/_colors.scss";
@import "./primereact/theme-base/_common.scss";
@import "./primereact/theme-base/_components.scss";
@import "./primereact/theme-base/_mixins.scss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
